<!DOCTYPE html>
<html>
    <head>
        <title>NateLogg</title>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
    </head>
    <body>
        Main Page
        <table>
        <% for(var i=0; i<logs.length; i++) { %>
            <tr>
                <td><%= logs[i] %></td>
            </tr>
        <% } %>
        </table>

    </body>
</html>
