<!DOCTYPE html>
<html>
    <head>
        <title>NateLogg</title>
        <style>
            pre {
                margin: 2px 0;
            }
        </style>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
            var shell;

            window.onload = function() {
                shell = document.getElementById('shell');
            };

            function toggleLog(el, log) {
                var checked = el.checked;
                socket.emit('toggleLog', {
                    log     : log,
                    enabled : checked
                });
            }

            socket.on('logData', function(data) {
                var scrollAtBottom = (shell.scrollHeight == (parseInt(shell.style.height) + shell.scrollTop)) ? true : false;

                shell.innerHTML += '<pre>' + data + '</pre>';

                if(scrollAtBottom) {
                    shell.scrollTop = shell.scrollHeight;
                }
            });
        </script>
    </head>
    <body>
        <table>
        <% for(var i=0; i<logs.length; i++) { %>
            <tr>
                <td><input type="checkbox" onclick="toggleLog(this, '<%= logs[i] %>')" /></td>
                <td><%= logs[i] %></td>
            </tr>
        <% } %>
        </table>
        <div id="shell" style="width: 800px; height: 400px; background-color: black; color: white; overflow-y: auto;"></div>
    </body>
</html>
